.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-glassmo {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(74, 226, 146, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.drop-scroller {
    height: 200px;
    overflow-y: scroll;
}

.background-container {
    background-image: url("../images/backgrounds/pexels-pixabay-40568.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.radio-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-input input {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(74, 226, 146);
    border-radius: 50%;
    transition: .4s ease-in-out;
}

.radio-input input:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: none;
}

.radio-input .circle {
    position: relative;
    top: 0px;
    left: -15px;
    bottom: 0px;
    width: 0.6em;
    height: 0.6em;
    background-color: rgb(74, 226, 146);
    scale: 0;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.radio-input input:checked {
    box-shadow: none;
    border: 1px solid rgb(74, 226, 146);
}

.radio-input input:checked+.circle {
    transform: rotate(360deg);
    scale: 1;
}

/* popup */
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    transition: opacity 500ms;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: max-content;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-color: #f4f4f4;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.popup .close:hover {
    color: #e57c23;
}

/* bootstrap row */
.row {
    width: 100%;
}

/* sidebar */
.side-bar {
    border-radius: 0px;
    height: 100dvh;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.sidebar-content {
    color: white;
}

/* Admin dashboard */
.add_button {
    background-color: #e57c23;
    border-radius: 10px;
    color: white;
    width: 180px;
    height: 40px;
    border: none;
}

.add {
    background-color: #b0b0b0;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit {
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.delete {
    background-color: crimson;
    color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.icon {
    height: 15px;
    width: 15px;
    color: white;
}

/* dropdown center */
.dropdown-menu-center {
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
}